@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; }

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 5px;
  text-align: center; }
  .browsehappy p {
    display: inline-block; }
  .browsehappy a {
    text-decoration: underline; }

.icon {
  display: inline-block; }

.icon-android {
  background-position: 0 -96px;
  width: 14px; }

.icon-android, .icon-apple {
  background-image: url(sprite.png);
  height: 16px; }

.icon-apple {
  background-position: -14px -96px;
  width: 12px; }

.icon-arr_l {
  background-position: -36px -32px; }

.icon-arr_l, .icon-arr_r {
  background-image: url(sprite.png);
  width: 32px;
  height: 32px; }

.icon-arr_r {
  background-position: -72px 0; }

.icon-dialog_white {
  background-image: url(sprite.png);
  background-position: -72px -32px;
  width: 32px;
  height: 32px; }

.icon-eyeball {
  background-position: -104px 0;
  width: 22px;
  height: 17px; }

.icon-eyeball, .icon-location {
  background-image: url(sprite.png); }

.icon-location {
  background-position: -104px -34px;
  width: 17px;
  height: 21px; }

.icon-mail_dark {
  background-image: url(sprite.png);
  background-position: -104px -70px;
  width: 20px;
  height: 15px; }

.icon-mail_white {
  background-position: 0 0;
  width: 36px;
  height: 32px; }

.icon-mail_white, .icon-painting {
  background-image: url(sprite.png); }

.icon-painting {
  background-position: -64px -64px;
  width: 22px;
  height: 21px; }

.icon-painting_white {
  background-position: 0 -32px;
  width: 36px; }

.icon-painting_white, .icon-people_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-people_white {
  background-position: -32px -64px;
  width: 32px; }

.icon-play {
  background-image: url(sprite.png);
  background-position: -86px -64px;
  width: 14px;
  height: 17px; }

.icon-printer_white {
  background-position: -36px 0;
  width: 36px; }

.icon-printer_white, .icon-settings_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-settings_white {
  background-position: 0 -64px;
  width: 32px; }

.icon-videoсam {
  background-position: -104px -55px;
  height: 15px; }

.icon-videoсam, .icon-сamera {
  background-image: url(sprite.png);
  width: 22px; }

.icon-сamera {
  background-position: -104px -17px;
  height: 17px; }

@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes show {
  0% {
    margin: 89px 132px 0px 0px; }
  10% {
    margin: 89px 152px 0px 0px; }
  20% {
    margin: 89px 112px 0px 0px; }
  30% {
    margin: 89px 152px 0px 0px; }
  40% {
    margin: 89px 112px 0px 0px; }
  50% {
    margin: 89px 152px 0px 0px; }
  60% {
    margin: 89px 112px 0px 0px; }
  70% {
    margin: 89px 152px 0px 0px; }
  80% {
    margin: 89px 112px 0px 0px; }
  90% {
    margin: 89px 152px 0px 0px; }
  100% {
    margin: 89px 132px 0px 0px;
    opacity: 1; } }

@keyframes show {
  0% {
    margin: 89px 132px 0px 0px; }
  10% {
    margin: 89px 152px 0px 0px; }
  20% {
    margin: 89px 112px 0px 0px; }
  30% {
    margin: 89px 152px 0px 0px; }
  40% {
    margin: 89px 112px 0px 0px; }
  50% {
    margin: 89px 152px 0px 0px; }
  60% {
    margin: 89px 112px 0px 0px; }
  70% {
    margin: 89px 152px 0px 0px; }
  80% {
    margin: 89px 112px 0px 0px; }
  90% {
    margin: 89px 152px 0px 0px; }
  100% {
    margin: 89px 132px 0px 0px;
    opacity: 1; } }

.separator {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #6e6c6c; }

.app {
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  .app a {
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .app a:hover {
    text-decoration: none; }
  @media only screen and (max-width: 576px) {
    .app {
      text-align: center; } }

.header {
  background-color: #3b9e69; }
  @media only screen and (max-width: 767px) {
    .header {
      text-align: center; } }
  .header__logo {
    margin: 49px 0; }
    @media only screen and (max-width: 767px) {
      .header__logo {
        margin: 49px 0 0 0; } }
  .header__nav {
    margin: 49px 0 0 0px; }
    @media only screen and (max-width: 767px) {
      .header__nav {
        margin: 20px 0 0 0px; } }
    .header__nav ul li {
      display: inline-block;
      margin: 0 19px; }
      @media only screen and (max-width: 767px) {
        .header__nav ul li {
          padding: 0px 0 0 0px; } }
      .header__nav ul li a {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        color: #FFFFFF;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal; }
      .header__nav ul li a:hover {
        color: #6e6c6c; }
  .header__social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 39px 33px 0 0px; }
    @media only screen and (max-width: 767px) {
      .header__social ul {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 20px 0 39px 0px; } }
    .header__social ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 10px; }
      .header__social ul li a {
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        color: #525252;
        font-family: "Socialico", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        background-color: #FFFFFF;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 4px 0;
        text-align: center; }
      .header__social ul li a:hover {
        color: #FFFFFF;
        background-color: #6e6c6c; }

.billboard {
  background-image: url(../img/billboard.jpg);
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 1100px) {
    .billboard {
      height: auto; } }
  .billboard__box {
    padding-left: 141px;
    padding-bottom: 178px; }
    @media only screen and (max-width: 1190px) {
      .billboard__box {
        padding-left: 100px; } }
    @media only screen and (max-width: 1100px) {
      .billboard__box {
        padding-left: 60px; } }
    @media only screen and (max-width: 991px) {
      .billboard__box {
        padding-left: 40px; } }
    @media only screen and (max-width: 767px) {
      .billboard__box {
        padding-bottom: 78px; } }
  .billboard__title {
    text-transform: uppercase;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    margin-top: 163px; }
    @media only screen and (max-width: 767px) {
      .billboard__title {
        margin-top: 63px; } }
  .billboard__content {
    margin-top: 27px; }
  .billboard__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left; }
  .billboard__button {
    margin: 32px 7px 0 0;
    width: 225px;
    height: 60px;
    border: 2px solid #6e6c6c;
    display: inline-block;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .billboard__button:hover {
      color: #FFFFFF;
      background-color: #6e6c6c; }
    .billboard__button i {
      margin-right: 15px; }
    .billboard__button a {
      -webkit-transition-property: color, background-color;
      transition-property: color, background-color;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      display: block;
      padding: 15px 25px;
      color: #6e6c6c;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal; }
    .billboard__button a:hover {
      color: #FFFFFF; }

.featured {
  background-color: #f3f3f3; }
  .featured__campany_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  @media only screen and (max-width: 767px) {
    .featured__campany_item {
      margin: 0 57px; } }
  .featured__campany_item a img {
    margin: 31px 0 15px 0;
    -webkit-transition-property: margin;
    transition-property: margin;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
  .featured__campany_item a img:hover {
    margin: 16px 0 30px 0; }

.about {
  padding: 0 0 105px 0;
  background-color: #faf9f9; }
  .about__iphone {
    margin: 89px 132px 0px 0px;
    float: right; }
    .about__iphone:hover {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }
    @media only screen and (max-width: 991px) {
      .about__iphone {
        margin: 89px 0px 0px 0px;
        float: none; } }
    @media only screen and (max-width: 767px) {
      .about__iphone {
        display: none;
        height: 0;
        width: 0; } }
  .about__title {
    text-transform: uppercase;
    margin-top: 92px;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 3px; }
  .about__content {
    margin-top: 21px;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: normal; }
  .about__list {
    margin-top: 50px; }
  .about__item {
    margin-top: 18px; }
    .about__item h5 .icon {
      margin-right: 25px; }
  .about__button {
    margin-top: 51px;
    width: 262px;
    height: 60px;
    border: 2px solid #6e6c6c;
    padding: 18px 40px 0 40px;
    display: inline-block;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .about__button:hover {
      color: #FFFFFF;
      background-color: #6e6c6c; }
    .about__button .icon {
      margin-right: 15px; }
  .about__video {
    display: none;
    height: 420px;
    width: 768px;
    background-color: gray; }
  .about__link {
    display: inline-block;
    padding: 22px 34px 0 34px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .about__link:hover {
      color: rgba(110, 108, 108, 0.5); }

.features {
  background-color: #3b9e69;
  padding: 69px 0 50px 0; }
  .features__item {
    /*margin-top: 100px;*/
    text-align: center;
    padding: 0 40px; }
    .features__item i {
      margin-top: 29px; }
    .features__item h3 {
      margin-top: 40px;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal; }
    .features__item p {
      margin: 33px 0 50px 0;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: normal; }

.testimonials__box {
  text-align: center;
  margin: 57px 0 96px 0; }

.testimonials__text {
  display: inline-block;
  max-width: 850px;
  margin-top: 29px;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center; }

.testimonials__author--name {
  margin-top: 30px;
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal; }

.testimonials__author--title {
  margin-top: 1px;
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 0 38px 0; }

.testimonials .icon-arr_l {
  margin: 0 20px; }

.testimonials .icon-arr_r {
  margin: 0 20px; }

.subscription {
  background-color: #3b9e69; }
  .subscription p {
    margin-top: 94px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .subscription__form {
    margin: 52px 0 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .subscription__email {
    display: block;
    padding-left: 20px;
    width: 310px;
    height: 50px;
    border: none;
    background-color: #faf9f9; }
  .subscription__button {
    display: block;
    width: 60px;
    height: 50px;
    padding: 12px 18px;
    background-color: #faf9f9;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .subscription__button input {
      background-color: #faf9f9;
      border: none; }
    .subscription__button:hover {
      opacity: 0.5; }

.footer__list {
  margin: 0px auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px; }

.footer__item {
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }
  .footer__item img {
    margin: 101px 0 0 0;
    -webkit-transition-property: margin, padding;
    transition-property: margin, padding;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
  .footer__item img:hover {
    margin: 81px 0 0px 0;
    padding: 0 0 20px 0; }

.footer__copyright {
  margin: 50px 0 50px 0;
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
