@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; }

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 5px;
  text-align: center; }
  .browsehappy p {
    display: inline-block; }
  .browsehappy a {
    text-decoration: underline; }

.icon {
  display: inline-block; }

.icon-android {
  background-position: 0 -96px;
  width: 14px; }

.icon-android, .icon-apple {
  background-image: url(sprite.png);
  height: 16px; }

.icon-apple {
  background-position: -14px -96px;
  width: 12px; }

.icon-arr_l {
  background-position: -36px -32px; }

.icon-arr_l, .icon-arr_r {
  background-image: url(sprite.png);
  width: 32px;
  height: 32px; }

.icon-arr_r {
  background-position: -72px 0; }

.icon-dialog_white {
  background-image: url(sprite.png);
  background-position: -72px -32px;
  width: 32px;
  height: 32px; }

.icon-eyeball {
  background-position: -104px 0;
  width: 22px;
  height: 17px; }

.icon-eyeball, .icon-location {
  background-image: url(sprite.png); }

.icon-location {
  background-position: -104px -34px;
  width: 17px;
  height: 21px; }

.icon-mail_dark {
  background-image: url(sprite.png);
  background-position: -104px -70px;
  width: 20px;
  height: 15px; }

.icon-mail_white {
  background-position: 0 0;
  width: 36px;
  height: 32px; }

.icon-mail_white, .icon-painting {
  background-image: url(sprite.png); }

.icon-painting {
  background-position: -64px -64px;
  width: 22px;
  height: 21px; }

.icon-painting_white {
  background-position: 0 -32px;
  width: 36px; }

.icon-painting_white, .icon-people_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-people_white {
  background-position: -32px -64px;
  width: 32px; }

.icon-play {
  background-image: url(sprite.png);
  background-position: -86px -64px;
  width: 14px;
  height: 17px; }

.icon-printer_white {
  background-position: -36px 0;
  width: 36px; }

.icon-printer_white, .icon-settings_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-settings_white {
  background-position: 0 -64px;
  width: 32px; }

.icon-videoсam {
  background-position: -104px -55px;
  height: 15px; }

.icon-videoсam, .icon-сamera {
  background-image: url(sprite.png);
  width: 22px; }

.icon-сamera {
  background-position: -104px -17px;
  height: 17px; }

@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal; }

.separator {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #6e6c6c; }

.app {
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  .app a {
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }

.header {
  background-color: #3b9e69; }
  .header__nav ul li {
    display: inline-block; }
    .header__nav ul li a {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: normal; }
  .header__social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .header__social ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header__social ul li a {
        color: #525252;
        font-family: "Socialico", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        background-color: #FFFFFF;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 4px 0;
        text-align: center; }

.billboard {
  height: 560px;
  background-image: url(../img/billboard.jpg);
  background-size: cover;
  background-position: center center; }
  .billboard__title {
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal; }
  .billboard__button {
    border: 2px solid #6e6c6c;
    display: inline-block;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal; }
    .billboard__button--iphone i {
      margin-right: 10px; }
    .billboard__button--iphone a {
      padding: 5px 10px; }
    .billboard__button--android i {
      margin-right: 10px; }
    .billboard__button--android a {
      padding: 20px 30px; }

.featured {
  background-color: #f3f3f3; }
  .featured__campany_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.about {
  background-color: #faf9f9; }
  .about__title {
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal; }
  .about__button {
    border: 2px solid #6e6c6c;
    display: inline-block;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    padding: 20px 40px; }
    .about__button .icon {
      margin-right: 15px; }
  .about__link {
    display: inline-block;
    padding: 20px 40px; }

.features {
  background-color: #3b9e69; }
  .features__item {
    text-align: center;
    padding: 0 40px; }
    .features__item h3 {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal; }
    .features__item p {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: normal; }

.testimonials__item {
  text-align: center; }

.testimonials__author--name {
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal; }

.testimonials__author--title {
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal; }

.testimonials__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .testimonials__navigation a {
    margin: 0 0px;
    padding: 0 0px; }

.subscription {
  background-color: #3b9e69;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .subscription p {
    text-align: center;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .subscription form {
    background-color: #faf9f9;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block; }
    .subscription form .subscriptions__form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .subscription form .subscription__email {
      width-max: 308px;
      height: 50px;
      padding: 0px 1px 2px 3px;
      border: none;
      background-color: #faf9f9; }
    .subscription form .subscription__button {
      width-max: 60px;
      height: 50px;
      padding: 12px 18px;
      background-color: #faf9f9; }
      .subscription form .subscription__button input {
        background-color: #faf9f9;
        border: none; }

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__copyright {
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
