@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; }

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 5px;
  text-align: center; }
  .browsehappy p {
    display: inline-block; }
  .browsehappy a {
    text-decoration: underline; }

.icon {
  display: inline-block; }

.icon-android {
  background-position: -128px 0;
  width: 14px; }

.icon-android, .icon-apple {
  background-image: url(sprite.png);
  height: 16px; }

.icon-apple {
  background-position: -128px -16px;
  width: 12px; }

.icon-arr_l {
  background-position: -70px -32px;
  width: 32px;
  height: 32px; }

.icon-arr_l, .icon-arr_r {
  background-image: url(sprite.png); }

.icon-arr_r {
  background-position: 0 0;
  width: 34px;
  height: 34px; }

.icon-close-cross {
  background-image: url(sprite.png);
  background-position: -64px -66px;
  width: 24px;
  height: 24px; }

.icon-dialog_white {
  background-image: url(sprite.png);
  background-position: -36px -34px;
  width: 32px;
  height: 32px; }

.icon-eyeball {
  background-position: -106px -21px;
  width: 22px;
  height: 17px; }

.icon-eyeball, .icon-location {
  background-image: url(sprite.png); }

.icon-location {
  background-position: -106px -55px;
  width: 17px;
  height: 21px; }

.icon-mail_dark {
  background-image: url(sprite.png);
  background-position: 0 -98px;
  width: 20px;
  height: 15px; }

.icon-mail_white {
  background-position: -34px 0;
  width: 36px;
  height: 32px; }

.icon-mail_white, .icon-painting {
  background-image: url(sprite.png); }

.icon-painting {
  background-position: -106px 0;
  width: 22px;
  height: 21px; }

.icon-painting_white {
  background-position: -70px 0;
  width: 36px; }

.icon-painting_white, .icon-people_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-people_white {
  background-position: -32px -66px;
  width: 32px; }

.icon-play {
  background-image: url(sprite.png);
  background-position: -88px -66px;
  width: 14px;
  height: 17px; }

.icon-printer_white {
  background-position: 0 -34px;
  width: 36px; }

.icon-printer_white, .icon-settings_white {
  background-image: url(sprite.png);
  height: 32px; }

.icon-settings_white {
  background-position: 0 -66px;
  width: 32px; }

.icon-videoсam {
  background-position: -106px -76px;
  height: 15px; }

.icon-videoсam, .icon-сamera {
  background-image: url(sprite.png);
  width: 22px; }

.icon-сamera {
  background-position: -106px -38px;
  height: 17px; }

.separator {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #6e6c6c; }

.app {
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  @media only screen and (max-width: 576px) {
    .app {
      color: #6e6c6c;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: normal; } }
  .app a {
    text-decoration: none;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .app a:hover {
    text-decoration: none; }
  .app *:focus {
    outline: none; }

.about__video {
  display: none;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }

.video {
  padding: 10%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.videoClosed {
  padding: 10%;
  position: absolute;
  right: -25px;
  top: -25px; }
  .videoClosed .icon {
    cursor: pointer; }

.header {
  padding: 35px 0;
  background-color: #3b9e69; }
  @media only screen and (max-width: 768px) {
    .header {
      text-align: center; } }
  .header__logo {
    margin: 10px 0; }
  .header__nav {
    margin: 14px 0; }
    .header__nav ul li {
      display: inline-block;
      margin: 0 12px; }
      .header__nav ul li a {
        padding: 10px;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: #FFFFFF;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal; }
      .header__nav ul li a:hover {
        color: #6e6c6c; }
  .header__social ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 10px 33px 10px 33px; }
    @media only screen and (max-width: 767px) {
      .header__social ul {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .header__social ul li {
      margin: 0 10px; }
      .header__social ul li a {
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .header__social ul li a .fa-circle {
          -webkit-transition: color 0.2s;
          transition: color 0.2s; }
      .header__social ul li:hover a {
        color: #FFFFFF; }
        .header__social ul li:hover a .fa-circle {
          color: #6e6c6c; }

.billboard {
  background-image: url(../img/billboard.jpg);
  background-size: cover; }
  .billboard__box {
    padding: 178px 0 178px 141px; }
    @media only screen and (max-width: 970px) {
      .billboard__box {
        padding: 138px 0 138px 100px;
        background-position: center right; } }
    @media only screen and (max-width: 750px) {
      .billboard__box {
        padding: 98px 60px 98px 60px;
        background-position: left top; } }
    @media only screen and (max-width: 576px) {
      .billboard__box {
        padding: 38px 40px 38px 40px;
        background-position: left top; } }
  .billboard__title {
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase; }
    @media only screen and (max-width: 576px) {
      .billboard__title {
        color: #6e6c6c;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 3px; } }
  .billboard__content {
    margin-top: 27px; }
  .billboard__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .billboard__button {
    margin: 32px 7px 0 0;
    width: 225px;
    height: 60px;
    border: 2px solid #6e6c6c;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .billboard__button:hover {
      color: #FFFFFF;
      background-color: #6e6c6c; }
    .billboard__button i {
      margin-right: 15px; }
    .billboard__button a {
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      display: block;
      padding: 15px 18px;
      color: #6e6c6c;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal; }
    .billboard__button a:hover {
      color: #FFFFFF; }

.featured {
  background-color: #f3f3f3; }
  .featured__campany_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  @media only screen and (max-width: 750px) {
    .featured__campany_item {
      margin: 0 57px; } }
  .featured__campany_item a img {
    margin: 31px 0 15px 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform; }
  .featured__campany_item a img:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

.about {
  padding: 0 0 105px 0;
  background-color: #faf9f9; }
  @media only screen and (max-width: 750px) {
    .about {
      padding: 0 20px 105px 20px; } }
  .about__iphone {
    margin: 89px 132px 0 0;
    float: right; }
    @media only screen and (max-width: 970px) {
      .about__iphone {
        margin-top: 89px;
        float: none; } }
    @media only screen and (max-width: 750px) {
      .about__iphone {
        display: none;
        height: 0;
        width: 0; } }
  .about__title {
    text-transform: uppercase;
    margin-top: 92px;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px; }
    @media only screen and (max-width: 576px) {
      .about__title {
        color: #6e6c6c;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 3px; } }
  .about__content {
    margin-top: 21px;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: normal; }
  .about__list {
    margin-top: 50px; }
  .about__item {
    margin-top: 18px; }
    .about__item h5 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .about__item h5 .icon {
        margin-right: 25px; }
      .about__item h5 .icon-videoсam {
        width: 24px; }
      .about__item h5 .icon-location {
        margin: 0 27px 0 3px; }
  .about__button {
    margin-top: 51px;
    width: 262px;
    height: 60px;
    border: 2px solid #6e6c6c;
    padding: 18px 40px 0 40px;
    display: inline-block;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
    .about__button:hover {
      color: #FFFFFF;
      background-color: #6e6c6c; }
    .about__button .icon {
      margin-right: 15px; }
  .about__link {
    display: inline-block;
    padding: 22px 34px 0 34px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .about__link:hover {
      color: rgba(110, 108, 108, 0.5); }

.features {
  background-color: #3b9e69;
  padding: 69px 0 50px 0; }
  .features__item {
    text-align: center;
    padding: 0 40px; }
    .features__item i {
      margin-top: 29px; }
    .features__item h3 {
      margin-top: 40px;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal; }
    .features__item p {
      margin: 33px 0 50px 0;
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: normal; }

.testimonials__box {
  text-align: center;
  margin: 57px 0 96px 0; }

.testimonials__text {
  display: inline-block;
  max-width: 850px;
  margin-top: 29px;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center; }
  @media only screen and (max-width: 576px) {
    .testimonials__text {
      color: #6e6c6c;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: normal; } }

.testimonials__author--name {
  margin-top: 30px;
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal; }

.testimonials__author--title {
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 0 38px 0; }

.testimonials .icon-arr_l {
  margin: 0 20px; }

.testimonials .icon-arr_r {
  margin: 0 20px; }

.testimonials .icon-nav {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }
  .testimonials .icon-nav:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }

.subscription {
  background-color: #3b9e69; }
  .subscription p {
    margin-top: 94px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .subscription__form {
    margin: 52px 0 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .subscription__email {
    display: block;
    padding-left: 20px;
    width: 310px;
    height: 50px;
    border: none;
    background-color: #faf9f9;
    color: #6e6c6c;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal; }
  .subscription__button {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 50px;
    padding: 12px 18px;
    background-color: #faf9f9;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .subscription__button input {
      background-color: #faf9f9;
      border: none;
      cursor: pointer; }
    .subscription__button:hover {
      opacity: 0.5; }

.footer__list {
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 250px; }

.footer__item {
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s; }
  .footer__item img {
    margin: 101px 0 0 0;
    -webkit-transition-property: margin, padding;
    transition-property: margin, padding;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .footer__item img:hover {
    margin: 81px 0 0 0;
    padding: 0 0 20px 0; }

.footer__copyright {
  margin: 50px 0 50px 0;
  text-align: center;
  color: #6e6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
