/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-android {
  background-image: url(sprite.png);
  background-position: -128px 0px;
  width: 14px;
  height: 16px;
}
.icon-apple {
  background-image: url(sprite.png);
  background-position: -128px -16px;
  width: 12px;
  height: 16px;
}
.icon-arr_l {
  background-image: url(sprite.png);
  background-position: -70px -32px;
  width: 32px;
  height: 32px;
}
.icon-arr_r {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 34px;
  height: 34px;
}
.icon-close-cross {
  background-image: url(sprite.png);
  background-position: -64px -66px;
  width: 24px;
  height: 24px;
}
.icon-dialog_white {
  background-image: url(sprite.png);
  background-position: -36px -34px;
  width: 32px;
  height: 32px;
}
.icon-eyeball {
  background-image: url(sprite.png);
  background-position: -106px -21px;
  width: 22px;
  height: 17px;
}
.icon-location {
  background-image: url(sprite.png);
  background-position: -106px -55px;
  width: 17px;
  height: 21px;
}
.icon-mail_dark {
  background-image: url(sprite.png);
  background-position: 0px -98px;
  width: 20px;
  height: 15px;
}
.icon-mail_white {
  background-image: url(sprite.png);
  background-position: -34px 0px;
  width: 36px;
  height: 32px;
}
.icon-painting {
  background-image: url(sprite.png);
  background-position: -106px 0px;
  width: 22px;
  height: 21px;
}
.icon-painting_white {
  background-image: url(sprite.png);
  background-position: -70px 0px;
  width: 36px;
  height: 32px;
}
.icon-people_white {
  background-image: url(sprite.png);
  background-position: -32px -66px;
  width: 32px;
  height: 32px;
}
.icon-play {
  background-image: url(sprite.png);
  background-position: -88px -66px;
  width: 14px;
  height: 17px;
}
.icon-printer_white {
  background-image: url(sprite.png);
  background-position: 0px -34px;
  width: 36px;
  height: 32px;
}
.icon-settings_white {
  background-image: url(sprite.png);
  background-position: 0px -66px;
  width: 32px;
  height: 32px;
}
.icon-videoсam {
  background-image: url(sprite.png);
  background-position: -106px -76px;
  width: 22px;
  height: 15px;
}
.icon-сamera {
  background-image: url(sprite.png);
  background-position: -106px -38px;
  width: 22px;
  height: 17px;
}
