@import "settings";

// подключение стилей сгенерированного sprite.min
.icon {display: inline-block;}
@import '../css/sprite.min';

// fonts
$Arial: 'Arial', sans-serif;
$OpenSans: 'Open Sans',sans-serif;
$FontAwesome: 'FontAwesome', sans-serif;

//colors
$white: #FFFFFF;
$black: #000000;
$black_opacity: rgba(0, 0, 0, 0.3);
$yellow: #FEE31A;
$red: #FF0000;
$blue: #0000FF;

// colors project
$colorbg_brand: red;
$color_bg_dark: #3b9e69;
$color_bg_light: #faf9f9;
$color_text_title: #525252;
$color_text_dark: #6e6c6c;
$color_text_light: $white;
$color_text_link: $blue;

//gradient
$gradient: linear-gradient(245deg, transparent 60px, $yellow);

@import "animation";

// animation hover
$speed_hover: 0.2s;

// COMMON


// separator
  .separator {
    width: 50%; margin: 0 auto;
    border-bottom: 1px solid $color_text_dark;
}

// application
.app {
  @include font-type($color_text_dark, $OpenSans, 17px, 400, 26px, normal);
  margin: 0 auto;
  padding: 0;
  position: relative;

  @include respond-to( mb) {
    @include font-type($color_text_dark, $OpenSans, 12px, 400, 26px, normal);
  }

  a {
    text-decoration: none;
    @include font-type($color_text_dark, $OpenSans, 16px, 400, normal, normal);
  }

  a:hover {
    text-decoration: none;
  }

  *:focus {
    outline: none;
  }
}

// header
.header {
  padding: 35px 0;
  background-color: $color_bg_dark;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }

  &__logo {
    margin: 10px 0;
    img {
    }
    h1 {
    }
  }
  &__nav {
    margin: 14px 0;
    ul {
      li {
        display: inline-block;
        margin: 0 19px;
        a {
          transition: color $speed_hover;
          @include font-type($color_text_light, $OpenSans, 16px, 400, normal, normal);

          @media only screen and (max-width: 768px) {
            @include font-type($color_text_light, $OpenSans, 12px, 400, normal, normal);
          }
          @include respond-to( mb) {
            @include font-type($color_text_light, $OpenSans, 10px, 400, normal, normal);
          }

        }
        a:hover {
          color: $color_text_dark;
        }
      }
    }
  }
  &__social {
    ul {
      display: flex;
      justify-content: flex-end;
      margin: 10px 33px 10px 33px;

      @media only screen and (max-width: 767px) {
        justify-content: center;
      }

      li {
        margin: 0 10px;
        a {
          transition: color $speed_hover;
          .fa-circle {
            transition: color $speed_hover;
          }
        }
        &:hover {
          a {
            color: $color_text_light;
            .fa-circle {
              color: $color_text_dark;
            }
          }
        }
      }
    }
  }
}
.billboard {
  background-image: url(../img/billboard.jpg);
  background-size: cover;
  &__box {
    padding: 178px 0 178px 141px;

    @include respond-to(sm) {
      padding: 138px 0 138px 100px;
      background-position: center right;
    }
    @include respond-to(xs) {
      padding: 98px 0 98px 60px;
      background-position: left top;
     // background-size: 100%;
    }
    @include respond-to(mb) {
      padding: 38px 0 38px 40px;
      background-position: left top;
    }
  }
  &__title{
    @include font-type($color_text_dark, $OpenSans, 32px, 700,44px, 3px);
    text-transform: uppercase;

    @include respond-to( mb) {
      @include font-type($color_text_dark, $OpenSans, 18px, 700,44px, 3px);
    }

  }
  &__content{
    margin-top: 27px;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }
  &__button{
    margin: 32px 7px 0 0;
    width: 225px;
    height: 60px;
    border: 2px solid $color_text_dark;
    transition-property: color, background-color;
    transition-duration: $speed_hover;
    &:hover {
      color: $color_text_light;
      background-color: $color_text_dark;
    }
    i {
      margin-right: 15px;
    }
    a {
      transition: color $speed_hover;
      display: block;
      padding: 15px 25px;
      @include font-type($color_text_dark, $OpenSans, 18px, 700, normal, normal);
    }
    a:hover {
      color: $color_text_light;
    }
  }
}


.featured {
  background-color: #f3f3f3;
  &__campany {
    &_list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &_item {

      @include respond-to(xs) {
       margin: 0 57px;
      }

      a {
        img {
          margin: 31px 0 15px 0;
          display: inline-block;
          vertical-align: middle;
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          transition-duration: 0.3s;
          transition-property: transform;
        }
        img:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}

.about {
  padding: 0 0 105px 0;
  background-color: $color_bg_light;

  @include respond-to(xs){
    padding: 0 0 105px 20px;
  }
  &__iphone {
    margin: 89px 132px 0 0;
    float: right;
    @include respond-to (sm){
      margin-top: 89px;
      float: none;
    }
    @include respond-to(xs){
      display: none;
      height: 0;
      width: 0;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-top: 92px;
    @include font-type($color_text_dark, $OpenSans, 32px, 700,44px, 3px);

    @include respond-to(mb) {
      @include font-type($color_text_dark, $OpenSans, 18px, 700,44px, 3px);
    }
  }
  &__content {
    margin-top: 21px;
    @include font-type($color_text_dark, $OpenSans, 17px, 400, 31px, normal);
  }
  &__list {
    margin-top: 50px;
  }
  &__item {
    margin-top: 18px;
    h5 {
      display: flex;
      flex-wrap: nowrap;
      .icon {
        margin-right: 25px;
      }
      .icon-videoсam{
        width: 24px;
      }
      p{
      }
    }
  }
  &__button {
    margin-top: 51px;
    width: 262px;
    height: 60px;
    border: 2px solid $color_text_dark;
    padding: 18px 40px 0 40px;
    display: inline-block;
    @include font-type($color_text_dark, $OpenSans, 16px, 600, normal, normal);
    transition-property: color, background-color;
    transition-duration: $speed_hover;
    &:hover {
      color: $color_text_light;
      background-color: $color_text_dark;
    }
    .icon {
      margin-right: 15px;
    }
  }
  &__video {
    display: none;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    .video{
      padding: 5%;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .videoClosed {
      margin: 5%;
      padding: 1%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__link {
    display: inline-block;
    padding: 22px 34px 0 34px;
    transition: color $speed_hover;
    &:hover {
      color: rgba(110, 108,108, 0.5);
    }
  }
}

.features {
  background-color: $color_bg_dark;
  padding: 69px 0 50px 0;
  &__item {
    text-align: center;
    padding: 0 40px;
    i {
      margin-top: 29px;
    }
    h3 {
      margin-top: 40px;
      @include font-type($color_text_light, $OpenSans, 18px, 600, normal, normal);
    }
    p {
      margin: 33px 0 50px 0;
      @include font-type($color_text_light, $OpenSans, 14px, 400, 26px, normal);
    }
  }
}

.testimonials {
  &__box{
    text-align: center;
    margin: 57px 0 96px 0;
  }
  &__text {
    display: inline-block;
    max-width: 850px;
    margin-top: 29px;
    @include font-type($color_text_dark, $OpenSans, 22px, 400, 36px, normal);
    text-align: center;

    @include respond-to( mb) {
      @include font-type($color_text_dark, $OpenSans, 14px, 400, 36px, normal);
    }

  }
  &__author--name {
    margin-top: 30px;
    text-align: center;
    @include font-type($color_text_dark, $OpenSans, 20px, 600, normal, normal);
  }
  &__author--title {
    text-align: center;
    @include font-type($color_text_dark, $OpenSans, 14px, 400, normal, normal);
    margin: 0 0 38px 0;
  }

  .icon-arr_l {
    margin: 0 20px;
  }
  .icon-arr_r {
    margin: 0 20px;
  }
  .icon-nav {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
    &:hover {
      transform: scale(0.9);
    }
  }
}
.subscription {
  background-color: $color_bg_dark;
  p {
    margin-top: 94px;
    text-align: center;
    @include font-type($color_text_light, $OpenSans,20px, 400, normal, normal);
  }
  form{
  }
  &__form{
    margin: 52px 0 96px;
    display: flex;
    justify-content: center;
  }
  &__email {
    display: block;
    padding-left: 20px;
    width: 310px;
    height: 50px;
    border: none;
    background-color: $color_bg_light;
  }
  &__button {
    display: block;
    width: 60px;
    height: 50px;
    padding: 12px 18px;
    background-color: $color_bg_light;
    transition-property: opacity;
    transition-duration: $speed_hover;
    transition-timing-function: linear;
    input {
      background-color: $color_bg_light;
      border: none;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.footer {
  &__list {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  &__item {
    transition: margin $speed_hover;
    img {
      margin: 101px 0 0 0;
      transition-property: margin, padding;
      transition-duration: $speed_hover;
    }
    img:hover {
      margin: 81px 0 0 0;
      padding: 0 0 20px 0;
    }
  }
  &__copyright {
    margin: 50px 0 50px 0;
    text-align: center;
    @include font-type($color_text_dark, $OpenSans, 14px, 400, normal, normal);
    img {}
  }
}



